*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
  background-image: url('../images/Menubg1.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.phone{
	color: black;
	font-size:150%;
}

.heading{
	text-align:center;
  padding-top: 170px;
  padding-bottom: 20px;
  color: green;
  font-weight: bold;   
  font-size: xx-large;
   
}

#otpbox{
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  max-width: 400px;
  height: 200px;
  
       
}
.navbar {
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #FFD801;  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 15px;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}



h5{
    font-size: 500%;
    color: green;
    text-align: center;
    margin:0px;
  }
  
  mark{
    background-color: greenyellow;
  }

  .textbox{
      height: 40px;
  }


  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0daf15;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
