*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
  background-image: url('../images/Menubg1.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;  
}

.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #FFD801;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float:left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar button{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar button:hover {
  background: #ddd;
  color: black;
}
.heading{
	text-align:center;
  padding-top: 170px;
  padding-bottom: 20px;
  color: green;
  font-weight: bold;   
  font-size: xx-large;
}

#verify{
	box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  max-width: 400px;
  height: 150px;
  font-size:130%;
  color:red;
	font-weight: bold;
}
#button{
  border: none;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}