<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restuarant</title>
    <link rel="stylesheet" href="../css/present.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">  
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="Jungle Restuarant.html"><img src="../images/logo.jpg"></a>
            <div class="nav-link" id="navlink">
                <i class="fa fa-times" onclick="hidemenu()"></i>
                <ul>
                    <li><a href="">ADMIN</a></li>
                    <li><a href="">CHEF</a></li>
                    <li><a href="./index.html">USERS</a></li>
                    <li><a href="./About.html">ABOUT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav> 
        <h1>About Us</h1>
        </section>
    <!------------about us content--------------->
    <section class="about-us">
        <div class="row" style="padding:10px;">
            <div class="about-col">
                <h1>World's Largest Jungle Restuarant</h1>
                <p>The Jugle Resturant is the place for those who believe good food tastes better when complemented with an interesting ambience.<br>And to step out so that we can enjoy an amazing setting that refreshes our mind and makes our dining special.<br>The Jungle knows it and thus offers its impeccable food destination.</p>
                <a href="./Menu Duplicate.html" class="hero-btn red-btn">Explore now</a>
            </div>
            <div class="about-col">
                <img src="../images/Jungle 2.jpg">
            </div>
        </div>
    </section>

   
    <!-----------------Footer-------------------->
    
    <!----------Javascript for toggle menu------->
    <script>
        var navlink=document.getElementById("navlink");
        function showmenu(){
            navlink.style.right="0"
        }
        function hidemenu(){
            navlink.style.right="-200px"
        }
    </script>
</body>
</html>