<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restuarant</title>
    <link rel="stylesheet" href="../css/present.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">  
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="./view/Jaga Restuarant.html"><img src="../images/logo.jpg"></a>
                 
           
            <i class="fa fa-bars" onclick="showmenu()"></i>
        </nav> 
        <h1>Menu Item</h1>
        </section>
    <div class="food-items">
        <h2>Indian Collection</h2>
        <div class="single-product">
            <div class="single-product-img">
               <div class="kadai"><img src="../images/kadai briyani.jpeg">
            </div>
                
                <h4>kadai briyani</h4>
                <p>Rs.140</p>
                
                 </div>
            <div class="single-product-img">
                <div class="chicken"><img src="../images/chicken.jfif"></div>
                <h4>chicken briyani</h4>
                <p>Rs.140</p>
               

            </div>
            <div class="single-product-img">
                <div class="mutton"><img src="../images/mutton briyani.jpg"></div>
                <h4>Mutton briyani</h4>
                <p>Rs.140</p>
                
            </div>
            <div class="single-product-img">
               <div class="egg"><img src="../images/egg.png"></div>
               <h4>egg briyani</h4>
               <p>Rs.140</p>
               
            </div>
            <div class="single-product-img">
                <div class="prawn"><img src="../images/prawn.jpg"></div>
                <h4>prawn briyani</h4>
                <p>Rs.140</p>
               
            </div>
            
            </div>
            <div class="food-items">
                <h2>Chinese Collection</h2>
                <div class="single-product">
                    <div class="single-product-img">
                       <div class="orange"><img src="../images/orange chicken.jfif">
                    </div>
                        
                        <h4>Orange chicken</h4>
                        <p>Rs.240</p>
                        
                    </div>
                    <div class="single-product-img">
                        <div class="sesame"><img src="../images/sesame chicken.jfif"></div>
                        <h4>Sesame chicken</h4>
                        <p>Rs.240</p>
                        
        
                    </div>
                    <div class="single-product-img">
                        <div class="beef"><img src="../images/beef crocolli.jfif"></div>
                        <h4>Beef brocolli</h4>
                        <p>Rs.340</p>
                        
                    </div>
                    <div class="single-product-img">
                       <div class="duck"><img src="../images/peaking duck.jfif"></div>
                       <h4>Peaking duck</h4>
                       <p>Rs.380</p>
                       
                    </div>
                    <div class="single-product-img">
                        <div class="kung"><img src="../images/kung.jfif"></div>
                        <h4>Kung Fi</h4>
                        <p>Rs.320</p>
                        
                    </div>
                    </div>
                    </div>

   
    <!-----------------Footer-------------------->
    
    <!----------Javascript for toggle menu------->
    <script>
        var navlink=document.getElementById("navlink");
        function showmenu(){
            navlink.style.right="0"
        }
        function hidemenu(){
            navlink.style.right="-200px"
        }
    </script>
</body>
</html>